<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="format-detection" content="telephone=no,email=no"/>
    <link rel="shortcut icon" href="icon/favicon.ico"/>
    <title>中远海运</title>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/perfect-scrollbar.css">
</head>
<body class="body-bottom" id="body-scroll">
<!--头部-->
<header class="common-width clearfix">
    <div class="header-left fl">
        <a class="logo" href="index.html">
            <img src="icon/logo.png" alt="中远海运物流公司">
        </a>
        <p class="hi line">
            <strong>张三</strong>，欢迎登录Portal系统！
        </p>
    </div>
    <div class="header-right fr">
        <a class="home" href="index.html">我的首页</a>
        <a class="quit line" href="login.html">退出</a>
    </div>
    
</header>

<!--轮播-->

<div class="banner">
    <div class="owl-carousel">
        <div class="item">
            <img src="images/banner1.jpg" alt="">
            <div class="text">
                <h2>志之所趋 &nbsp;&nbsp;无远弗届</h2>
                <p>打造国内一流的供应链信息管理平台</p>
                <a href="javascript:void(0)">了解详情</a>
            </div>
        </div>
        <div class="item">
            <img src="images/banner2.jpg" alt="">
            <div class="text">
                <h2>时代创信&nbsp;&nbsp;无远弗届</h2>
                <p>打造国内一流的供应链信息管理平台</p>
                <a href="javascript:void(0)">了解详情</a>
            </div>
        </div>
        <div class="item">
            <img src="images/banner3.jpg" alt="">
            <div class="text">
                <h2>志之所趋 &nbsp;&nbsp; 时代创信</h2>
                <p>打造国内一流的供应链信息管理平台</p>
                <a href="javascript:void(0)">了解详情</a>
            </div>
        </div>
        <div class="item">
            <img src="images/banner4.jpg" alt="">
            <div class="text">
                <h2>志之所趋 &nbsp;&nbsp;无远弗届</h2>
                <p>打造国内一流的供应链信息管理平台</p>
                <a href="javascript:void(0)">了解详情</a>
            </div>
        </div>
        <div class="item">
            <img src="images/banner5.jpg" alt="">
            <div class="text">
                <h2>网站建设&nbsp;&nbsp;无远弗届</h2>
                <p>打造国内一流的供应链信息管理平台</p>
                <a href="javascript:void(0)">了解详情</a>
            </div>
        </div>
    </div>
    <div class="banner-nav">
        <span class="banner-prev"></span>
        <span class="banner-next"></span>
    </div>
    <span class="banner-top"></span>
</div>

<!--内容区-->
<div class="common-width system">
    <ul class="left">
        <li class="business active">业务</li>
        <li class="manage">管理</li>
    </ul>

    <div class="right">
        <!--业务-->
        <ul class="business-content active">
            <li id="focus">
                <img src="images/focus.jpg" alt="">
            </li>
            <li id="camis">
                <img src="images/camis.jpg" alt="">
            </li>
            <li id="chemical">
                <img src="images/chemical-logistics.jpg" alt="">
            </li>
            <li id="focus-back">
                <img src="images/focus-back.jpg" alt="">
            </li>
            <li id="camis-back">
                <img src="images/camis-back.jpg" alt="">
            </li>
        </ul>

        <!--管理-->
        <ul class="manage-content">
            <li id="focus1">
                <img src="images/focus.jpg" alt="">
            </li>
            <li id="camis1">
                <img src="images/camis.jpg" alt="">
            </li>
            <li id="chemical1">
                <img src="images/chemical-logistics.jpg" alt="">
            </li>
            <li id="focus-back1">
                <img src="images/focus-back.jpg" alt="">
            </li>
        </ul>
    </div>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/perfect-scrollbar.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/layer/layer.js"></script>
<script>
    // 轮播
    $(document).ready(function () {
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items: 1,
            loop: true,
            autoHeight: true,
            autoWidth: true,
            autoplay: true,
            nav: false,
            dots: false,
            autoplaySpeed: 500,
            lazyLoad: true, // 懒加载
            autoplayHoverPause: true,
        });

        $('.banner-next').click(function () {
            owl.trigger('next.owl.carousel',[500]);
        });
        $('.banner-prev').click(function () {
            owl.trigger('prev.owl.carousel', [500]);
        });

        $('.banner-top').click(function () {
            $('.banner').toggleClass('active');
        });
        $("html").niceScroll(); // 页面滚动条样式重置
    });

    // 业务与管理交互
    $('.business').click(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.business-content').addClass('active').siblings().removeClass('active');
    });
    $('.manage').click(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.manage-content').addClass('active').siblings().removeClass('active');
    });

    // 弹窗
    $('.right').on('click', 'li', function () {
        var layerHtml = '';
        var layerHtmlBegin = ' <div class="account"> <div class="account-title"> <p class="title-name">用户姓名</p> <p class="title-code">登录代码</p> </div> <ul class="account-detail" id="scroll"> ';
        var layerHtmlEnd = ' </ul> </div>';

        // 发起请求
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "./data/d1.json",
            success: function (data) {
                var info = data.focus;
                var layerHtmlCenter = '';
                for(var i = 0; i<info.length;i++){
                    layerHtmlCenter += '<li> <p class="account-name">'+info[i].name+'</p> <p class="account-code"><a href="main.html">'+ info[i].code +'</a></p> </li>';
                }
                layerHtml = layerHtmlBegin + layerHtmlCenter + layerHtmlEnd;
                layer.open({
                    type: 1,
                    title: '请选择子系统账号', // 标题
                    area: ['656px', '61.3vh'], //宽高
                    skin: 'layer-system',
                    content: layerHtml // 内容
                });

                // 滚动条样式
                new PerfectScrollbar('#scroll');
            },
            error: function (err) {
                console.log(err);
            }
        });

    });

</script>
</body>
</html>