<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="format-detection" content="telephone=no,email=no"/>
    <link rel="shortcut icon" href="icon/favicon.ico"/>
    <title></title>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/common.css" />
</head>
<body class="inside body-bottom">

<div class="inside-crumbs">
    当前定位：<a onclick="javascript:top.location.href='index.html'">首页</a> &gt; <a href="main.html">FOCUS</a> &gt; <span> 非主流</span>
</div>

<ul class="inside-content" id="insidecontent">
    <li class="active"><span>船期表管理</span></li>
    <li><span>船期表管理</span></li>
    <li><span>船期表管理</span></li>
    <li><span>船期理</span></li>
    <li><span>船理</span></li>
    <li><span>船期表管理</span></li>
    <li><span>船期理</span></li>
    <li><span>船期理</span></li>
    <li><span>船期管理</span></li>
    <li><span>船管理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
    <li><span>船理</span></li>
</ul>

<div class="inside-right">
    <div class="navth move">
        <ul class="navth-content" id="navth">
            <li class="active"><a href="javascript:void(0)">箱货类</a></li>
            <li><a href="javascript:void(0)">条款类</a></li>
            <li><a href="javascript:void(0)">单位换算</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">其它类</a></li>
            <li><a href="javascript:void(0)">常用类</a></li>
            <li class="return">返回上一级</li>
        </ul>
    </div>


    <div class="navfo move">
        <ul class="navfo-content" id="navfo">
            <li><a href="javascript:void(0)">箱货类2</a></li>
            <li class="active"><a href="javascript:void(0)">条款类2</a></li>
            <li><a href="javascript:void(0)">单位换算2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">其它类2</a></li>
            <li><a href="javascript:void(0)">常用类2</a></li>
            <li class="return">返回上一级</li>
        </ul>
    </div>

</div>
<!--底部-->
<footer class="footer">
    <p>Copyright © 2017 中远海运物流有限公司 版权所有 技术支持:<a href="http://www.etycx.com/">时代创信</a></p>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script>

    // 二级栏目点击
    $('.inside-content').on('click','li',function () {
        $('.active').removeClass('active');
        $(this).addClass('active').siblings().removeClass('active');
        $('.inside-right').addClass('active');
        $('#navth').niceScroll(); // 重置三级菜单滚动条
    });

    // 三级栏目点击
    $('.navth').on('click','li',function () {
        $(this).addClass('active').siblings().removeClass('active');
        if(!$(this).hasClass('return')){
            $('.navth').addClass('active');
            $('#navfo').niceScroll(); // 重置四级菜单滚动条
        }
    });


    // 四级栏目点击
    $('.navfo').on('click','li',function () {
        $(this).addClass('active').siblings().removeClass('active');
    });

    // 返回上一级
    $('.navth .return').click(function () {
        $('.inside-right').removeClass('active');
    });
    $('.navfo .return').click(function () {
        $('.navth').removeClass('active');
    });

     // 滚动条样式重置
     $(function () {
        $('#insidecontent').niceScroll();
    })
</script>
</body>
</html>