<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <link rel="shortcut icon" href="icon/favicon.ico" />
    <title>内主页-中远海运</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/perfect-scrollbar.css">
</head>

<body class="main">
    <!--头部-->
    <header class="common-width clearfix">
        <div class="header-left fl">
            <a class="logo" href="index.html">
                <img src="icon/logo.png" alt="中远海运物流公司">
            </a>
            <p class="hi line">
                <strong>张三</strong>，欢迎登录Portal系统！
            </p>
        </div>
        <div class="header-right fr">
            <a class="home" href="index.html">我的首页</a>
            <a class="quit line" href="login.html">退出</a>
        </div>

    </header>
    <div class="main-container clearfix">

        <!--左侧导航-->
        <aside class="main-left fl">
            <div class="main-search">
                <input type="text" placeholder="请输入..." name="search">
            </div>
            <ul class="main-nav" id="navscroll">
                <li class="active">
                    <a href="javascript:void(0);">销售</a>
                </li>
                <li>
                    <a href="javascript:void(0);">出口</a>
                </li>
                <li>
                    <a href="javascript:void(0);">非主流</a>
                </li>
                <li>
                    <a href="javascript:void(0);">散杂货代运</a>
                </li>
                <li>
                    <a href="javascript:void(0);">商务</a>
                </li>
                <li>
                    <a href="javascript:void(0);">借口管理</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">客服</a>
                </li>
                <li>
                    <a href="javascript:void(0);">出口制单管理</a>
                </li>
            </ul>
        </aside>

        <!--右侧内容-->
        <section class="main-right fr">
            <iframe src="inside.html" frameborder="0" id="iframescroll"></iframe>
        </section>
    </div>



    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/perfect-scrollbar.min.js"></script>
    <script>
        $(function () {

            // 滚动条样式重置
            $('html').niceScroll();
            $("#navscroll").niceScroll();
            $('#iframescroll').niceScroll()
        })
    </script>
</body>

</html>