@charset "UTF-8";
// 变量集
// stylelint-disable
$white: #fff !default;
$gray-f3: #f3f3f3 !default;
$gray-e5: #e5e5e5 !default;
$gray-b5: #b5b5b5 !default;
$gray-99: #999 !default;
$gray-80: #808080 !default;
$gray-73: #73757a !default;
$gray-66: #666 !default;
$gray-33: #333 !default;
$black: #000 !default;

$blue: #5495ce !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #f00 !default;
$red-100: #ff3b30 !default;
$orange: #fd7e14 !default;
$yellow: #f6b900 !default;
$yellow-100: #f8c733 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$box-sizing: border-box;
