@charset "UTF-8";
@mixin nowarp($argu: null) {
  @if not $argu {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $argu;
    overflow: hidden;
  }
}
// 百分比
@function per($son) {
  @return percentage($son);
}

@function vw($argu) {
  @return $argu/750*100 + vw;
}

@function vh($argu) {
  @return $argu/1206*100 + vh;
}

$fontColor: #fff;
$buttonColor: #ff0;
$bdColor: rgba(253, 253, 169, 0.5);
$bdColorL: rgba(253, 253, 169, 0.2);
$fontSize: 16;
@mixin setPm($name,$val...) {
  $max: length($val);
  $str: "";
  @for $i from 1 through $max {
    $value: nth($val,$i)/2/$fontSize;
    $str: #{$str + $value}rem;
    @if $i<$max {
      $str: #{$str+" "};
    }
  }
  #{$name}: $str;
}

// 字符串功能
/*

unquote（$string）:删除字符串中的引号；
quote（$string）：给字符串添加引号；
To-upper-case（$string）：将字符串小写字母转换为大写字母
To-lower-case（$string）：将字符串大写字母转换为小写字母

// 数字函数
percentage($value)：将不带单位的数转换成百分比值；
round($value)：将数值四舍五入，转换成一个最接近的整数；
ceil($value)：向上取整；
floor($value)：向下取整；
abs($value)：取数的绝对值；
min($numbers…)：找出几个数值之间的最小值；
max($numbers…)：找出几个数值之间的最大值；
random(): 获取随机数

// 列表函数
length($list)：返回一个列表的长度值;
nth($list, $n)：返回一个列表中指定的某个标签值;
join($list1, $list2, [$separator])：将两个列给连接在一起，变成一个列表；
append($list1, $val, [$separator])：将某个值放在列表的最后；
zip($lists…)：将几个列表结合成一个多维的列表；
index($list, $value)：返回一个值在列表中的位置值。

// Introspection函数: 主要用来对值做一个判断
type-of($value)：返回一个值的类型;
unit($number)：返回一个值的单位;
unitless($number)：判断一个值是否带有单位;
comparable($number-1, $number-2)：判断两个值是否可以做加、减和合并.

// Miscellaneous函数：
if($condition,$if-true,$if-false)
// Maps的函数
$map: (
  $key1: value1,
  $key2: value2,
  $key3: value3
)



*/

