html{
  background: #fff;
  box-sizing: $box-sizing;
  font-family: "PingFangSC-Light", "PingFangSC", "miui", "system-ui", "Helvetica","Arial","Verdana","sans-serif";
}

/// 常用样式

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
  overflow: hidden;
}

.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
  line-height: 0;
  font-size: 0;
}




.hidden{
  overflow: hidden;
}
.none{
  display: none;
}
.flex{
  display: flex;
}

.block {
  display: block;
}

.inline-block{
  display: inline-block;
}

.inline{
  display: inline;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

// 禁止选种
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// 禁止换行
.no-wrap{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//去除select 默认样式
.no-appearance {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.no-appearance::-ms-expand {
  display: none;
}
//去除鼠标点击事件
.click-disabled {
  pointer-events: none; /*IE11+*/
}


// =============no-reset ============

.no-reset {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    line-height: 1.5;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
  }
  h3 {
    font-size: 1.17em;
    margin: 1em 0;
  }
  h4 {
    font-size: 1em;
    margin: 1.33em 0;
  }
  h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
  }
  h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
  }
  p {
    font-size: inherit;
    line-height: 1.5;
  }
  b,
  em,
  strong {
    font-weight: bold;
  }
  i {
    font-style: italic;
  }
  u,
  ins {
    text-decoration: underline;
  }
  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }
  a {
    color: #0000ee;
    text-decoration: underline;
  }
}
